<!-- Sample Logback configuration file -->
<!-- Rename this file to logback.xml -->
<configuration>

	<appender name="DB" class="mise.marssa.footprint.logger.MDBAppender">
		<connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
			<dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">
				<driverClass>com.mysql.jdbc.Driver</driverClass>
				<!--<jdbcUrl>jdbc:mysql://HOSTNAME:3306/DATABASE_NAME</jdbcUrl>-->
				<!--<user>USERNAME</user>-->
				<!--<password>PASSWORD</password>-->
			</dataSource>
		</connectionSource>
	</appender>

	<appender name="LOGGINGFILE" class="ch.qos.logback.core.FileAppender">
		<file>target/logging.log</file>
		<append>true</append>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="mise.marssa.footprint.logger.MySampleLayout" />
		</encoder>
	</appender>

	<root level="TRACE">
		<appender-ref ref="DB" />
		<appender-ref ref="LOGGINGFILE" />
	</root>
	
</configuration>

