<!--

    Copyright 2012 MARSEC-XL International Limited

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!-- Sample Logback configuration file -->
<!-- Rename this file to logback.xml -->
<configuration>

	<appender name="DB" class="mise.marssa.footprint.logger.MDBAppender">
		<connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
			<dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">
				<driverClass>com.mysql.jdbc.Driver</driverClass>
				<!--<jdbcUrl>jdbc:mysql://HOSTNAME:3306/DATABASE_NAME</jdbcUrl>-->
				<!--<user>USERNAME</user>-->
				<!--<password>PASSWORD</password>-->
			</dataSource>
		</connectionSource>
	</appender>

	<appender name="LOGGINGFILE" class="ch.qos.logback.core.FileAppender">
		<file>target/logging.log</file>
		<append>true</append>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="mise.marssa.footprint.logger.MySampleLayout" />
		</encoder>
	</appender>

	<root level="TRACE">
		<appender-ref ref="DB" />
		<appender-ref ref="LOGGINGFILE" />
	</root>
	
</configuration>

